.bg-orange {
    background-color: $orange-400;
}

.btn-purple {
    background-color: $purple-500;
    color: white;
    &:hover {
        color: white;
    }
}

.bg-purple {
    background-color: $purple-500;
}
